.card {
    border: 10px;
    padding: 15px;
    background-color: turquoise;
    background-image: pictures "color-3256055_1280.jpg";
}

body {
    background-color:#D3D3D3;
}

.container {
    background-color: white;
    margin-top: 10px;
}