.card {
    padding: 5px;
    margin: 5px;
    border: none;
}

body {
    background-color:#D3D3D3;
}

.container {
    margin-top: 10px;
    margin-bottom: 30px;
}


.card-link {
    background-color: aqua;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-body {
    margin-bottom: 30px;
    margin-bottom: 30px;

}


/*Not working*/
footer {
    background-color: white;
}

/*Not working*/
hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    color: white;
}

/*Not working*/
p {
    padding: 10px;
}

/*Not working*/
.card-text {
    padding: 10px;
    margin: 10px;
}

.menu-table {
    margin: 0px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

    
    .portfolio-back {
        background-color: white;
    }

    h2 {
        color: white;
    }
    
    h3 {
        color: aqua;
    }

    #boarder {
        background-color: white;
        padding: 15px;
    }